@charset "utf-8";
/* CSS Document */

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-size: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;	
}

#TumSayfaKapsayiciAlani{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
}

#TamSayfaArkaPlanResimAlani{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background-position: center center;
	background-size: cover;
	z-index:-9999;
}

#TamSayfaArkaPlanKarartmaAlani{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background: #000000;
	opacity: 0.25;
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(Opacity=25);
	z-index:-9998;
}

#YoneticiGirisFormuKapsayiciAlani{
	position: absolute;
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	height: 246px;
	min-height: 246px;
	max-height: 246px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-top: -130px;
	margin-left: -150px;
	padding: 0;
	border: none;
	outline: none;
	overflow: hidden;
}

#YoneticiGirisFormuLogosuKapsayiciAlani{
	position: relative;
	width: 85px;
	height: 85px;
	margin: auto;
	bottom: -15px;
	border-radius: 42.5px;
	background: #00AAFF;
}

#YoneticiGirisFormuLogosuKapsayiciAlani img{
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	border: 3px solid #FFFFFF;
	border-radius: 50px;
	background-color:  #FFFFFF;
}

#YoneticiGirisFormuKapsayiciAlani input{
	display: block;
	width: calc(100% - 24px);
	height: 40px;
	margin: auto;
	padding: 6px 12px 6px 12px;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	color: #646464;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
}

#YoneticiGirisFormuKapsayiciAlani input#KullaniciAdi{
	border-radius: 7px 7px 0px 0px;
}

#YoneticiGirisFormuKapsayiciAlani input#KullaniciSifresi{
	border-radius: 0px 0px 7px 7px;
}

#YoneticiGirisFormuCizgisi{
	width: 100%;
	height: 1px;
	background: #FFFFFF;
}

#YoneticiGirisFormuCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

#YoneticiGirisFormuSifremiUnuttum{
	position: relative;
	left: 232px;
	top: -35px;
	text-decoration: none;
	color: #046EA3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiGirisFormuSifremiUnuttum a:link, #YoneticiGirisFormuSifremiUnuttum a:visited, #YoneticiGirisFormuSifremiUnuttum a:hover, #YoneticiGirisFormuSifremiUnuttum a:active{
	text-decoration: none;
	color: #046EA3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiGirisFormuKapsayiciAlani input#GirisButonu{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #51771A;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #51771A;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiGirisFormuKapsayiciAlani input#GirisButonu:hover{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #FFFFFF;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #51771A;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiGirisFormuKapsayiciAlani input#GirisButonu:active{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #51771A;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiGirisFormuSonucMetinleriKapsayiciAlani{
	position: absolute;
	width: 650px;
	min-width: 650px;
	max-width: 650px;
	height: 305px;
	min-height: 305px;
	max-height: 305px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-left: -325px;
	margin-top: -123px;
	padding: 0;
	border: none;
	border-radius: 7px;
	outline: none;
	background: #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriLogosuKapsayiciAlani{
	position: relative;
	width: 85px;
	height: 85px;
	margin: auto;
	margin-top: -58px;
	margin-bottom: 15px;
	border-radius: 42.5px;
	background: #00AAFF;
}

.YoneticiGirisFormuSonucMetinleriLogosuKapsayiciAlani img{
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	border: 3px solid #FFFFFF;
	border-radius: 50px;
	background-color:  #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriUstCizgisi{
	width: 100%;
	height: 1px;
	background: #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriUstCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.YoneticiGirisFormuSonucMetinleriAltCizgisi{
	width: 100%;
	height: 1px;
	margin-top: 15px;
	background: #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriAltCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.YoneticiGirisFormuSonucMetinleriIconKapsayiciAlani{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriIconKapsayiciAlani img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: none;
	background: #FFFFFF;
}

.YoneticiGirisFormuSonucMetinleriBaslikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.YoneticiGirisFormuSonucMetinleriIcerikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

.YoneticiGirisFormuSonucMetinleriIcerikAlaniKapsayicisi a:link, .YoneticiGirisFormuSonucMetinleriIcerikAlaniKapsayicisi a:visited, .YoneticiGirisFormuSonucMetinleriIcerikAlaniKapsayicisi a:hover, .YoneticiGirisFormuSonucMetinleriIcerikAlaniKapsayicisi a:active{
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani{
	position: absolute;
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	height: 246px;
	min-height: 246px;
	max-height: 246px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-top: -130px;
	margin-left: -150px;
	padding: 0;
	border: none;
	outline: none;
	overflow: hidden;
}

#YoneticiSifremiUnuttumFormuLogosuKapsayiciAlani{
	position: relative;
	width: 85px;
	height: 85px;
	margin: auto;
	bottom: -15px;
	border-radius: 42.5px;
	background: #00AAFF;
}

#YoneticiSifremiUnuttumFormuLogosuKapsayiciAlani img{
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	border: 3px solid #FFFFFF;
	border-radius: 50px;
	background-color:  #FFFFFF;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input{
	display: block;
	width: calc(100% - 24px);
	height: 40px;
	margin: auto;
	padding: 6px 12px 6px 12px;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	color: #646464;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input#EMailAdresi{
	border-radius: 7px 7px 0px 0px;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input#KullaniciAdi{
	border-radius: 0px 0px 7px 7px;
}

#YoneticiSifremiUnuttumFormuCizgisi{
	width: 100%;
	height: 1px;
	background: #FFFFFF;
}

#YoneticiSifremiUnuttumFormuCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

#YoneticiSifremiUnuttumFormuGeriGit{
	position: relative;
	left: 232px;
	top: -35px;
	text-decoration: none;
	color: #046EA3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiSifremiUnuttumFormuGeriGit a:link, #YoneticiSifremiUnuttumFormuGeriGit a:visited, #YoneticiSifremiUnuttumFormuGeriGit a:hover, #YoneticiSifremiUnuttumFormuGeriGit a:active{
	text-decoration: none;
	color: #046EA3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input#GonderButonu{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #51771A;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #51771A;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input#GonderButonu:hover{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #FFFFFF;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #51771A;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

#YoneticiSifremiUnuttumFormuKapsayiciAlani input#GonderButonu:active{
	width: 100%;
	margin-top: -5px;
	padding-top: 9px;
	padding-bottom: 14px;
	cursor: pointer;
	border: none;
	border: 1px solid #51771A;
	border-radius: 7px;
	outline: none;
	background-color: #B6EE65;
	text-decoration: none;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}


#YoneticiSifremiUnuttumFormuSonucMetinleriKapsayiciAlani{
	position: absolute;
	width: 650px;
	min-width: 650px;
	max-width: 650px;
	height: 305px;
	min-height: 305px;
	max-height: 305px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-left: -325px;
	margin-top: -123px;
	padding: 0;
	border: none;
	border-radius: 7px;
	outline: none;
	background: #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriLogosuKapsayiciAlani{
	position: relative;
	width: 85px;
	height: 85px;
	margin: auto;
	margin-top: -58px;
	margin-bottom: 15px;
	border-radius: 42.5px;
	background: #00AAFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriLogosuKapsayiciAlani img{
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	border: 3px solid #FFFFFF;
	border-radius: 50px;
	background-color:  #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriUstCizgisi{
	width: 100%;
	height: 1px;
	background: #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriUstCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriAltCizgisi{
	width: 100%;
	height: 1px;
	margin-top: 15px;
	background: #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriAltCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriIconKapsayiciAlani{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriIconKapsayiciAlani img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: none;
	background: #FFFFFF;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriBaslikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriIcerikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

.YoneticiSifremiUnuttumFormuSonucMetinleriIcerikAlaniKapsayicisi a:link, .YoneticiSifremiUnuttumFormuSonucMetinleriIcerikAlaniKapsayicisi a:visited, .YoneticiSifremiUnuttumFormuSonucMetinleriIcerikAlaniKapsayicisi a:hover, .YoneticiSifremiUnuttumFormuSonucMetinleriIcerikAlaniKapsayicisi a:active{
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

#IzinsizGonderimBildirimiFormuSonucMetinleriKapsayiciAlani{
	position: absolute;
	width: 650px;
	min-width: 650px;
	max-width: 650px;
	height: 305px;
	min-height: 305px;
	max-height: 305px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-left: -325px;
	margin-top: -123px;
	padding: 0;
	border: none;
	border-radius: 7px;
	outline: none;
	background: #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriLogosuKapsayiciAlani{
	position: relative;
	width: 85px;
	height: 85px;
	margin: auto;
	margin-top: -58px;
	margin-bottom: 15px;
	border-radius: 42.5px;
	background: #00AAFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriLogosuKapsayiciAlani img{
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	border: 3px solid #FFFFFF;
	border-radius: 50px;
	background-color:  #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriUstCizgisi{
	width: 100%;
	height: 1px;
	background: #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriUstCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriAltCizgisi{
	width: 100%;
	height: 1px;
	margin-top: 15px;
	background: #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriAltCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriIconKapsayiciAlani{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriIconKapsayiciAlani img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: none;
	background: #FFFFFF;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriBaslikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriIcerikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

.IzinsizGonderimBildirimiFormuSonucMetinleriIcerikAlaniKapsayicisi a:link, .IzinsizGonderimBildirimiFormuSonucMetinleriIcerikAlaniKapsayicisi a:visited, .IzinsizGonderimBildirimiFormuSonucMetinleriIcerikAlaniKapsayicisi a:hover, .IzinsizGonderimBildirimiFormuSonucMetinleriIcerikAlaniKapsayicisi a:active{
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

