@charset "utf-8";
/* CSS Document */

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-size: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;	
}

#TumSayfaKapsayiciAlani{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
}

#TamSayfaArkaPlanResimAlani{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background-position: center center;
	background-size: cover;
	z-index:-9999;
}

#TamSayfaArkaPlanKarartmaAlani{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: none;
	outline: none;
	background: #000000;
	opacity: 0.25;
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(Opacity=25);
	z-index:-9998;
}

.BaglantiHatasiMetinleriKapsayiciAlani{
	position: absolute;
	width: 650px;
	min-width: 650px;
	max-width: 650px;
	height: 305px;
	min-height: 305px;
	max-height: 305px;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	margin-left: -325px;
	margin-top: -123px;
	padding: 0;
	border: none;
	border-radius: 7px;
	outline: none;
	background: #FFFFFF;
}

.BaglantiHatasiMetinleriUstCizgisi{
	position: relative;
	width: 100%;
	height: 1px;
	margin-top: 42px;
	margin-bottom: 15px;
	background: #FFFFFF;
}

.BaglantiHatasiMetinleriUstCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.BaglantiHatasiMetinleriAltCizgisi{
	position: relative;
	width: 100%;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 42px;
	background: #FFFFFF;
}

.BaglantiHatasiMetinleriAltCizgisi i{
	display: block;
	width: 95%;
	height: 1px;
	margin: auto;
	background: #D1D1D1;
}

.BaglantiHatasiMetinleriIconKapsayiciAlani{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
}

.BaglantiHatasiMetinleriIconKapsayiciAlani img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: none;
	background: #FFFFFF;
}

.BaglantiHatasiMetinleriBaslikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.BaglantiHatasiMetinleriIcerikAlaniKapsayicisi{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

.BaglantiHatasiMetinleriIcerikAlaniKapsayicisi a:link, .BaglantiHatasiMetinleriIcerikAlaniKapsayicisi a:visited, .BaglantiHatasiMetinleriIcerikAlaniKapsayicisi a:hover, .BaglantiHatasiMetinleriIcerikAlaniKapsayicisi a:active{
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}
